<div class="offer-wrapper">
	<table width="100%" cellspacing="0" cellpadding="0" class="fixed breakword  ad_idEJNwz" summary="Ogłoszenie" data-id="601968513">
		<tbody>
		<tr>
			<td width="150" rowspan="2" class="photo-cell">
				<a class="thumb vtop inlblk rel tdnone linkWithHash scale4 detailsLink " href="https://www.olx.pl/oferta/dzialka-budowlana-15-ar-CID3-IDEJNwz.html#563a76f310" title="">
					<img class="fleft" src="https://apollo-ireland.akamaized.net:443/v1/files/uctpf1ukfujc2-PL/image;s=261x203" alt="Działka budowlana 15 ar">




				</a>
			</td>
			<td valign="top" class="title-cell ">
				<div class="space rel">
					<h3 class="lheight22 margintop5">

						<a href="https://www.olx.pl/oferta/dzialka-budowlana-15-ar-CID3-IDEJNwz.html#563a76f310" class="marginright5 link linkWithHash detailsLink" data-cy="listing-ad-title">
							<strong>Działka budowlana 15 ar</strong>
						</a>
					</h3>

					<p class="offer-path color-9 lheight16 margintop5">
						<small class="breadcrumb x-normal">
							Działki » Sprzedaż
						</small>
					</p>
				</div>
			</td>
			<td width="200" class="wwnormal tright td-price" valign="top">
				<div class="space inlblk rel">


					<p class="price">
						<strong>43 000 zł</strong>
					</p>



				</div>

			</td>
		</tr>
		<tr>
			<td valign="bottom" class="bottom-cell">
				<div class="space rel">
					<p class="lheight16">
						<small class="breadcrumb x-normal">
							<span><i data-icon="location-filled"></i>Korzenna</span>
						</small>
						<small class="breadcrumb x-normal">
							<span><i data-icon="clock"></i>wczoraj 19:19</span>
						</small>
					</p>
				</div>
			</td>
			<td width="85" class="tright" valign="bottom">
				<div class="rel">
					<div class="rel observelinkinfo inlblk zi3">
						<a href="#" class="{id:601968513} observe-link inlblk lheight16 tdnone tcenter margintop5 vishid " data-statkey="ad.observed.list">
							<span class="icon inlblk observe2 observed-601968513" data-icon="star"></span>
							<span class="link x-small gray2 block lheight14">
										<span>  </span>
									</span>
						</a>
						<div class="suggesttitleright small top abs zi2 br4 hidden">
							<p>Obserwuj</p>
						</div>
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>